.filled img {
	fill: var(--primary);

	background-color: var(--primary);
}

.star img {
	margin-right: 5px;
}

.editable {
	cursor: pointer;
}

/*.error img {*/
/*	stroke: var(--red);*/
/*}*/

.ratingWrapper {
	display: flex;
	flex-direction: column;
	position: relative;
}

.errorMessage {
	/*position: absolute;*/
	/*bottom: -20px;*/
	margin-left: -15px;
	color: var(--red);

}
