.filled img {
	fill: var(--primary);

	background-color: var(--primary);
}

.star {
	display: inline-block;
}

.star img {
	margin-right: 5px;
}

.editable {
	cursor: pointer;
}

/* .error img { */

/*	stroke: var(--red); */

/* } */

.ratingWrapper {
	position: relative;

	display: flex;
	flex-direction: column;
}

.errorMessage {
	/* position: absolute; */

	/* bottom: -20px; */
	margin-left: -15px;

	color: var(--red);
}
